.codebox {
  animation: fadein 0.4s ease-in-out;
  box-shadow: 0 0 100px #0099ff30;
}

.codebox.skeleton {
  animation: none;
}

.codebox__header {
  display: flex;
  align-items: center;
  list-style: none;
  background-color: var(--background-color-card);
  margin: 0;
  padding: 0;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-right: var(--border-width) solid var(--border-color);
  border-top: var(--border-width) solid var(--border-color);
  border-left: var(--border-width) solid var(--border-color);
}

.codebox__header__btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  height: 50px;
}
.codebox__header__btn-container__btn {
  width: 16px;
  height: 16px;
  border-radius: 100%;
}
.codebox__header__btn-container__btn.red {
  background-color: #ff004e;
}
.codebox__header__btn-container__btn.yellow {
  background-color: #ffea00;
}
.codebox__header__btn-container__btn.green {
  background-color: #30ff00;
}

.codebox__header__tab-container {
  display: flex;
}

.codebox__header__tab-container__tab {
  display: flex;
  justify-content: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
  min-width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
}

.codebox__header__tab-container__tab:hover {
  border-color: var(--border-color);
}

.codebox__header__tab-container__tab.active {
  border-color: var(--border-color);
  background-color: var(--background-color);
}

.codebox__header__tab-container__tab-indicator {
  display: none;
}

.codebox.skeleton .codebox__header__tab-container__tab-indicator {
  height: 12px;
  width: 80px;
  background-color: var(--border-color);
  border-radius: var(--border-radius);
}

.codebox__line-container {
  margin: 0;
  padding: 20px;
  padding-left: 60px;
  padding-right: 0;
  background-color: var(--background-color-card);
  font-family: var(--font-family-mono);
  /* border-bottom-right-radius: var(--border-radius); */
  /* border-bottom-left-radius: var(--border-radius); */
  border-right: var(--border-width) solid var(--border-color);
  border-bottom: var(--border-width) solid var(--border-color);
  border-left: var(--border-width) solid var(--border-color);

  overflow-x: auto;
}

.codebox__line-container::-webkit-scrollbar {
  height: 5px;
}
.codebox__line-container::-webkit-scrollbar-thumb {
  background-color: var(--color);
  border-radius: var(--border-radius);
}
.codebox__line-container::-webkit-scrollbar-thumb:active {
  background-color: #fffa;
}

.codebox__line-container__line {
  position: relative;
  transition: all 0.1s;
  z-index: 100;
}

.codebox__line-container__line::after {
  content: "";
  width: 996px;
  height: 23px;
  position: absolute;
  top: 0;
  left: -60px;
  z-index: -100;
  border-top: var(--border-width) solid transparent;
  border-bottom: var(--border-width) solid transparent;

  transition: all 0.1s;
}

.codebox__line-container__line.highlighted::after {
  background-color: #0099ff20;
}

.codebox__line-container__line .token {
  color: #81ff85;
}
.codebox__line-container__line .token.keyword {
  color: #ed73c3;
}
.codebox__line-container__line .token.operator {
  color: #ed73c3;
}
.codebox__line-container__line .token.punctuation {
  color: #ebeef1;
}
.codebox__line-container__line .token.value {
  color: #c49ff8;
}
.codebox__line-container__line .token.value.string {
  color: #e6ec76;
}
.codebox__line-container__line .token.comment {
  white-space: pre;
  color: var(--border-color);
  font-weight: 600;
  transition: all 0.1s;
}
.codebox__line-container__line:hover .token.comment {
  color: var(--color);
}
.codebox__line-container__line:hover::after {
  border-color: var(--border-color);
  background-color: var(--background-color);
}
.codebox__line-container__line.highlighted:hover::after {
  border-color: #0099ff;
  background-color: #0099ff40;
}
.codebox__line-container__line::marker {
  color: var(--border-color);
  font-weight: 800;
  transition: color 0.1s;
}
.codebox__line-container__line.highlighted::marker {
  color: #0099ff40;
}
.codebox__line-container__line.highlighted:hover::marker {
  color: #0099ff;
}
.codebox__line-container__line:hover::marker {
  color: var(--color);
}

.codebox__line-container__line__bar {
  height: 12px;
  background-color: var(--border-color);
  border-radius: var(--border-radius);
}

.codebox__footer {
  padding: 12px 0;
  width: calc(100% - 2px);
  display: flex;
  justify-content: center;
  gap: 3%;
  background-color: var(--background-color-card);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  outline: var(--border-width) solid var(--border-color);
}
.codebox__footer__btn {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #fefefe70;
}
.codebox__footer__btn.active {
  background-color: var(--color);
}

.codebox.skeleton .codebox__footer__btn {
  height: 12px;
  width: 100px;
  background-color: var(--border-color);
  border-radius: var(--border-radius);
}

@media only screen and (max-width: 700px) {
  .codebox__header__tab-container__tab {
    display: none;
  }
  .codebox__header__tab-container__tab-indicator {
    display: inline-block;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translate(0, 50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
