.codebox__header {
  display: flex;
  align-items: center;
  list-style: none;
  background-color: var(--background-color-card);
  margin: 0;
  padding: 0;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-right: var(--border-width) solid var(--border-color);
  border-top: var(--border-width) solid var(--border-color);
  border-left: var(--border-width) solid var(--border-color);
}

.codebox__header__btn {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  border-radius: 100%;
}
.codebox__header__btn.red {
  background-color: #ff004e;
  margin-left: 18px;
}
.codebox__header__btn.yellow {
  background-color: #ffea00;
}
.codebox__header__btn.green {
  background-color: #30ff00;
  margin-right: 20px;
}

.codebox__header__tab__a {
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding: 0 15px;
}
.codebox__header__tab__a.active {
  border-right: var(--border-width) solid var(--border-color);
  /* borde: var(--border-width) solid var(--border-color); */
  outline: var(--border-width) solid var(--border-color);
}

.codebox__header__tab a:hover {
  text-decoration: none;
  color: var(--a-color);
}

.codebox__line-container {
  margin: 0;
  padding: 20px;
  padding-left: 50px;
  padding-right: 0;
  background-color: var(--background-color-card);
  font-family: var(--font-family-mono);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-right: var(--border-width) solid var(--border-color);
  border-bottom: var(--border-width) solid var(--border-color);
  border-left: var(--border-width) solid var(--border-color);
}

.codebox__line-container__line {
  padding-left: 10px;
}
.codebox__line-container__line:hover {
  background-color: var(--background-color);
}
