.card {
  flex-basis: 300px;
  flex-grow: 1;
  padding: 20px;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color-card);

  box-shadow: 0 0 100px #0099ff10;

  user-select: none;

  transition: all 0.3s;
}

.card:hover {
  box-shadow: 0 0 100px #0099ff20;
  transform: rotateY(13deg) rotateX(-10deg);

}

.card span {
  color: var(--a-color);
}