.footer {
  padding: 0;
  margin: 0;
  margin-top: 100px;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color-card);
  border-top: var(--border-width) solid var(--border-color);
}
