.app__main {
  width: min(1000px, 80%);
  padding: 0 15px;
}

.app__main__section hr {
  margin: 80px 0;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
}
.app__main__section.main {
  margin-bottom: 150px;
}

.app__main__section__article h2 {
  margin: 10px 0;
}

.app__main__section__article span {
  color: var(--a-color);
}

.app__main__section__article.splited {
  display: flex;
  align-items: center;
}
.app__main__section__article.splited > div > h2 {
  margin-top: 15px;
}
.app__main__section__article__text-container {
  flex-basis: 0;
  flex-grow: 1;
}

.app__main__section__article__codebox-container {
  flex-basis: 0;
  flex-grow: 1.5;
}
.app__main__section__article__codebox-container .codebox {
  margin: 0 20px;
}

@media only screen and (max-width: 800px) {
  .app__main__section__article.splited {
    display: flex;
    flex-flow: column nowrap;
  }
  .app__main__section__article__codebox-container .codebox {
    margin: 0;
  }
  .app__main__section__article__text-container {
    order: 0;
  }
  .app__main__section__article__codebox-container {
    order: 1;
    width: 100%;
  }
}
