:root {
  --font-family: Inter, sans-serif;
  --font-family-mono: "Cascadia Code", "Cascadia Mono", "Fira Code", consolas,
    monospace;
  --line-height: 1.5;
  --font-weight: 400;

  --border-radius: 12px;
  --border-width: 2px;

  --border-color: #2c2c31;

  --color: #fefefe;
  --a-color: #0099ff;
  --a-color-hover: #0099ffc0;
  --background-color: #222227;
  --background-color-card: #19191c;

  --font-size-small: 0.85rem;
  --font-size: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-big: 1.7rem;
  --font-size-large: 2rem;
  --font-size-title: 3rem;

  --font-synthesis: none;
  --text-rendering: optimizeLegibility;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

html {
  color-scheme: light dark;

  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);

  color: var(--color);
  background-color: var(--background-color);

  font-synthesis: var(--font-synthesis);
  text-rendering: var(--text-rendering);
  -webkit-font-smoothing: var(--webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--moz-osx-font-smoothing);
}

#root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: calc(100vw - 34px);
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

a {
  font-size: var(--font-size);
  font-weight: 500;
  color: var(--a-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--a-color-hover);
  text-decoration: underline;
}

p {
  font-size: var(--font-size);
  line-height: 1.7;
}

h1 {
  font-size: var(--font-size-title);
  line-height: 1.2;
}
h2 {
  font-size: var(--font-size-large);
  line-height: 1.1;
}

button {
  border-radius: var(--border-radius);
  border: var(--border-width) solid transparent;
  padding: 0.6em 1.2em;
  font-size: var(--font-size);
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background-color-card);
  color: var(--color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
